:root {
  --color-text: rgba(0,0,0,0.85);
  --color-background: #fff;
}

@font-face {
    font-family: "PingFang SC";
    src: url('@/assets/font/PingFang-Regular.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-family: 'PingFang SC';
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
